body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    padding: 1rem;
}

.row td {
    border-bottom: 1px solid #d1d1d1;
}

th {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    text-align: left;
    width: 4rem;
}

td {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    width: 2rem;
}

th:nth-child(1), td:nth-child(1) {
    width: 5rem;
}
th:nth-child(2), td:nth-child(2) {
    width: 6rem;
}
th:last-child {
    width: 6rem;
}
